*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-width: 480px;
}

/* CABECERA */

header{
    height: 180px;
    background: rgba(0, 41, 115, 1);
}
header .contenedor{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header .contenedor .logo{
    width: 33%;
    height: 100%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .logo img{
    height: 90%;
    width: 48%;
    max-height: 218px;
    max-width: 218px;
    min-height: 120px;
    min-width: 120px;
}
header .contenedor .navegacion{
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .contenedor .navegacion .menu{
    display: flex;
    justify-content: center;
    text-align: center;
}
header .contenedor .navegacion .menu a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding-right: 25px;
}
header .contenedor .navegacion .menu a:nth-child(3){
    padding-right: 0;
}
header .contenedor .navegacion .menu a:hover{
    color: rgb(54, 98,255);
}
header .contenedor .contacto{
    width: 31%;
    height: 100%;
}
header .contacto .ubi{
    display: flex;
    flex-direction: row;

    padding-top: 67.5px;
    justify-content: center;
    align-items: center;
}
header .contacto .ubi i{
    font-size: 45px;
    padding-right: 26px;
    color: white;
}
header .contacto .ubi i:hover{
    color: rgb(54, 98,255);
}

/* BIENVENIDA */

.bienvenida{
    width: 100%;
    height: 720px;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-color: rgba(20, 57, 250, 0.07);
    overflow: hidden;
}
.bienvenida .contenedor{
    width: 100%;
    height: 100%;
}
.bienvenida .contenedor > div{
    padding-left: 10%;
    padding-top: 10%;
}
.bienvenida h2:nth-child(1){
    width: 516px;
    font-size: 54px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 14px;
    -webkit-border-radius: 14px 14px 0 0;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding-left: 10px;
}
.bienvenida h2:nth-child(2){
    width: 516px;
    font-size: 54px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 14px;
    -webkit-border-radius: 0 0 14px 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding-left: 10px;
}
.bienvenida p{
    width: 650px;
    padding-top: 2%;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

/*Introduccion*/

.intro{
    width: 100%;
    height: 580px;
    background: rgba(0, 41, 115, 1);
}
.intro .contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.intro .contenedor h2{
    padding-top: 15px;
    text-align: center;
    color: rgb(96, 159,255);
    font-size: 48px;
}
table{
    color: white;
    font-size: 24px;
    width: 500px;
    margin-top: 20px;
    margin-left: 160px;
}
.intro table li{
    width: 200px;
    height: 60px;
}
.intro .contenedor .p{
    font-size: 36px;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}
.intro .contenedor .p1{
    color: white;
    padding-top: 40px;
    font-size: 24px;
}

/*CATALOGO*/

.catalogo{
    width: 100%;
    height: 1100px;
    background: linear-gradient(180deg, #002973 0%, rgba(0, 41, 115, 0.776) 30.21%, rgba(0, 41, 115, 0.44) 59.9%, rgba(0, 41, 115, 0) 100%);
}
.catalogo .contenedor{
    height: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.catalogo .contenedor .titulo{
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.catalogo .contenedor .producto{
    width: 28%;
    height: 40%;
    max-width: 451px;
    background-color: white;
    box-shadow: 5px 5px rgb(221, 213, 213);
    text-align: center;
    margin: auto;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.catalogo .contenedor .producto img{
    width: 72%;
    height: 62%;
    min-width: 28%;
    min-height: 28%;
}
.catalogo h3{
    color: rgb(15, 35, 73);
    font-size: 24px;
}
.catalogo p{
    padding-top: 18px;
    color: rgb(32, 47, 75);
    font-size: 18px;
    margin: 0 10%;
    overflow: hidden;
}

/*NOSOTROS*/

.nosotros{
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, rgba(0, 41, 115, 0) 0%, rgba(0, 41, 115, 0.36) 20.83%, rgba(0, 41, 115, 0.61) 41.67%, rgba(0, 41, 115, 0.822399) 66.67%, #002973 91.15%);
    margin-top: 60px;
}
.nosotros .contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.nosotros .foto-equipo{
    width: 45%;
}
.nosotros .foto-equipo img{
    width: 90%;
    height: 80%;
}
.nosotros .conocenos{
    width: 45%;
}
.conocenos h3{
    color: rgb(3, 43, 116);
    font-size: 48px;
}
.conocenos p:nth-child(2){
    color: rgb(255, 255, 255);
    font-size: 28px;
    padding-top: 30px;
}
.conocenos p:nth-child(3){
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.5px;
    padding-top: 5px;
    width: 90%;
}

/*FORMULARIO*/

.formulario{
    width: 100%;
    height: 500px;
    background: rgba(0, 41, 115, 1);
}
.formu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
form{
    margin-right: 5.6%;
}
form  p{
    color: white;
    font-size: 28px;
    padding-top: 20px;
    text-align: center;
}
form #nombre, #email, #tel{
    background-color: rgba(0, 41, 115, 1);
    width: 400px;
    height: 40px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 4px solid rgb(0, 2, 110);
    font-size: 18px;
    padding-left: 15px;
}
form textarea{
    background-color: rgba(0, 41, 115, 1);
    width: 400px;
    height: 100px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 4px solid rgb(0, 2, 110);
    font-size: 18px;
    padding-left: 15px;
    resize: none;
}
form p:nth-child(6){
    padding-left: 88px;
}
form p:nth-child(6) > input:nth-child(1), input:nth-child(2){
    width: 100px;
    height: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 41, 115, 1);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 3px solid cadetblue;
}
form p:nth-child(6) > input:nth-child(1), input:nth-child(2){
    border: 4px solid rgb(0, 2, 110);
}
form p:nth-child(6) > input:nth-child(1):hover, input:nth-child(2):hover{
    border: 3px solid rgb(255, 255, 255);
}
form ::placeholder{
    color: white;
    font-size: 18px;
}
form  textarea::placeholder{
    padding-top: 2px;
    font-size: 19px;
}

.mapa{
    padding-top: 50px;
    display: flex;;
}
.mapa img{
    width: 450px;
    height: 400px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/*footer*/

footer{
    width: 100%;
    height: 340px;
    background: rgb(0, 38, 109);
}
footer .contenedor{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}
footer p{
    color: white;
    padding-top: 6px;
}
footer i{
    font-size: 40px;
    color: white;
    padding-left: 12px;
    padding-top: 20px;
}
footer .dere{
    background: rgb(0, 32, 90);
}

/* MEDIA QUERY */

@media all and (max-width:1100px) {
    header .contenedor .logo img:nth-child(2){
        visibility: hidden;
    }
    .nosotros .contenedor .foto-equipo{
        visibility: hidden;
        width: 0;
        height: 0;
    }
    
    .nosotros .contenedor .conocenos{
        width: 100%;
        margin: auto;
        padding-left: 10%;
    }
}
@media all and (max-width:900px){

    .formulario{
        height: 960px;
    }
}
@media all and (max-width:780px){
    header .contenedor .contacto{
        visibility: hidden;
    }
    header{
        height: 140px;
    }

    header .contenedor .navegacion{
        width: 67%;
    }
}
@media all and (max-width:725px){
    .bienvenida  {
        height: 520px;
    }
    /* .bienvenida .contenedor div  h2{
        width: 80%;
        font-size: 32px;
    } */
    .bienvenida .contenedor .p{
        width: 80%;
        font-size: 28px;
        line-height: 28px;
    }
}   
@media all and (max-width:600px){
    header .contenedor .logo img{
        width: 120px;
        height: 120px;
    }
    .bienvenida .contenedor div  h2{
        width: 70%;
        font-size: 36px;
    }
    .bienvenida .contenedor .p{
        font-size: 24px;
    }
    .intro{
        height: 560px;
    }
    .intro .contenedor table{
        width: 480px;
        margin-left: 0;
        display: block;
        align-items: center;
        padding-left: 20px;
    }
    .intro table li{
        width: 230px;
        height: 50px;
    }
    .catalogo .contenedor .producto{
        width: 45%;
        height: 28%;
    }
    .intro .contenedor .p1{
        font-size: 24px;
        width: 80%;
        text-align: center;
    }
}
